.banner{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 75px 0;
  }


  .container {
    width: 900px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .btn-green {
    background-color: rgb(50,205,50);
    color: white;
    width: 83px;
    font-size: 16px;
    margin-top: 15px;
    padding: 10px 23px;
    border-radius: 30px;
}
