.description {
  colour: rgb(50,50,50);
  text-align: center;
}

.cards {
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: center;
}

.card {
  display: block;
  box-shadow: 2px 2px 5px grey;
  border-radius: 3px;
  background-color: white;
  width: 200px;
  padding: 20px;
  margin: 20px;
}

.card img {

  height: 100px;
}
